@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-left">
    <h1>Controls</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="Textbox">Text Box</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="TextArea">Text Area</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="CheckBox">Check Box</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="Radio">Radio</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="DropDownList">Drop-down List</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="ListBox">List Box</a>
        </li>
    </ul>


</div>